/* Edit Parent Container */
.header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0px;
    width: 100%;
}

/* Edit Sub Container */
.headers {
    display: flex;
    gap: 4px;
}

/* Edit Name */
.name {
    font-size: 18px;
    text-transform: uppercase;
}

/* Edit Child Attributes */
h2 {
    font-weight: normal;
}

.subheader1,
.subheader2,
.linkedin,
.headerBreak {
    font-size: 10px;
}

.name,
.subheader1,
.subheader2,
.linkedin,
.headerBreak {
    margin: 0px;
}