/* Set Box Sizing for all LHS Elements */
* {
    box-sizing: border-box;
}

/* Set Standard Segment Sizes */
.LHSInput {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    padding: 24px;
    background-color: #fff;
    box-shadow: 0 7px 29px 0 hsla(240, 5%, 41%, .2);
    border-radius: 12px;
    gap: 10px;
    padding: 12px 24px;
}

.LHSInput:hover {
    cursor: pointer;
}

.LHSInputHeader {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    justify-content: space-between;
    margin: 0px;
    padding: 10px 0px;
}

/* Set Standard Size for User Inputs */
.inputField {
    width: 100%;
    padding: 8px;
}