/* Set Box Sizing for all LHS Elements */
* {
    box-sizing: border-box;
}

/* Set Standard Segment Sizes */
.LHSInput {
    gap: 10px;
}

.LHSInput:hover {
    cursor: pointer;
}

.LHSInput,
.Experience {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    padding: 24px;
    background-color: #fff;
    box-shadow: 0 7px 29px 0 hsla(240, 5%, 41%, .2);
    border-radius: 12px;
    padding: 12px 24px;
}

.LHSInputHeader {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    justify-content: space-between;
    margin: 0px;
    padding: 10px 0px;
}

/* Set Standard Size for User Inputs */
.inputField {
    width: 100%;
    padding: 8px;
}

@media (max-width: 480px) {
    .app {
        max-width: 200px;
        padding: 0px;
    }

    .leftSide {
        font-size: 10px;
    }

    .leftSide .buttonLoader {
        padding: 0px;
        gap: 0px;
    }

    .leftSide .buttonLoader button {
        font-size: 8px;
        padding: 5px 10px;
    }

    .leftSide .personalDetails h2 {
        font-size: 10px;
    }

    .detailItem {
        font-size: 8px;
    }

    .detailItem input {
        font-size: 7px;
    }

    .app {
        flex-direction: column;
        align-items: center;
    }

    .Experience h2 {
        font-size: 10px;
    }

    .LHSInputHeader .iconGrouped .classIcon {
        width: 10px;
        height: 10px;
    }

    .app .rightSide {
        min-width: 350px;
        max-width: 400px;
    }

    .rightSide {
        max-width: 450px;
        font-size: 10px;
        min-height: 1000px;
    }

    .headers {
        display: flex;
        align-items: center;
    }

    .rightSide .header .name {
        font-size: 8px;
    }

    .rightSide .header h2 {
        font-size: 6px;
    }

    .rightSide .underline .sectionTitle {
        font-size: 6px;
    }

    .experienceItem .experienceTitle,
    .experienceItem .experienceDateDuration,
    .underline .experienceParent .caption {
        font-size: 4px;
    }

    .experienceItem .experienceTitle {
        min-width: 200px;
    }

    .experienceParent ul li {
        font-size: 4px;
    }
}

@media (max-width: 768px) {
    .app {
        max-width: 700px;
        padding: 0px;
    }

    .leftSide {
        font-size: 10px;
    }

    .leftSide .buttonLoader {
        padding: 0px;
        gap: 0px;
    }

    .leftSide .buttonLoader button {
        font-size: 8px;
        padding: 5px 10px;
    }

    .leftSide .personalDetails h2 {
        font-size: 10px;
    }

    .detailItem {
        font-size: 8px;
    }

    .detailItem input {
        font-size: 7px;
    }

    .app {
        flex-direction: column;
        align-items: center;
    }

    .Experience h2 {
        font-size: 10px;
    }

    .LHSInputHeader .iconGrouped .classIcon {
        width: 10px;
        height: 10px;
    }

    .app .rightSide {
        min-width: 350px;
        max-width: 400px;
    }

    .rightSide {
        max-width: 450px;
        font-size: 10px;
        min-height: 1000px;
    }

    .headers {
        display: flex;
        align-items: center;
    }

    .rightSide .header .name {
        font-size: 8px;
    }

    .rightSide .header h2 {
        font-size: 6px;
    }

    .rightSide .underline .sectionTitle {
        font-size: 6px;
    }

    .experienceItem .experienceTitle,
    .experienceItem .experienceDateDuration,
    .underline .experienceParent .caption {
        font-size: 4px;
    }

    .experienceItem .experienceTitle {
        min-width: 200px;
    }

    .experienceParent ul li {
        font-size: 4px;
    }
}