.addExperience {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 8px;
    padding: 6px;
    border: 4px solid #F7F4F7;
    border-radius: 32px;
    width: 50%;
    height: 75%;
}

.addExperienceContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

h4,
.faPlus {
    font-size: 0.75rem;
}

h4 {
    margin: 0px;
}