/* Section */
.Experience {
    display: flex;
    flex-direction: column;
    width: 75%;
    background-color: white;
}

/* All Forms */
.detailItem {
    margin-bottom: 10px;
}

/* Date Content */
.experienceDates {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 28px;
    width: 100%;
}

.experienceDates .detailItem {
    min-width: 100px;
    flex: 1;
}

.experienceLabel {
    margin: 3px 0px;
}

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
    width: 100%;
}

/* Description Input */
.descriptionInput {
    background-color: #7A7D7D;
    color: white;
    border-radius: 6px;
    width: 100%;
}


@media (max-width: 1025px) {
    .experienceDates {
        gap: 3px;
    }
}