.Experience {
    display: flex;
    justify-content: center;
    transition-duration: 10s;
}

.elementContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.elementContainer.visible {
    opacity: 1;
    visibility: visible;
}