# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Cache Files
.cache/
.parcel-cache/
.next/cache/
.vuepress/.cache/

# Logs
logs/
*.log

# Dependency directories
jspm_packages/

# Compiled binary addons
build/Release

# Coverage directory used by tools like istanbul
coverage/
*.lcov

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.test

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# Next.js build output
.next/

# Nuxt.js build / generate output
.nuxt/
dist/

# Gatsby files
.cache/
public/

# vuepress build output
.vuepress/dist

# Serverless directories
.serverless/

# FuseBox cache
.fusebox/

# DynamoDB Local files
.dynamodb/

# TernJS port file
.tern-port