.buttonLoader {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 75%;
    background-color: #fff;
    box-shadow: 0 7px 29px 0 hsla(240, 5%, 41%, .2);
    gap: 15px;
    padding: 12px 24px;
    position: sticky;
}

.buttonLoader,
.loadResume {
    border-radius: 12px;
}

button {
    padding: 10px 30px;
}

.icon {
    margin-right: 8px;
    border-radius: 4px;
}

button.clearResume {
    color: #5B2333;
}

.clearResume,
.loadResume {
    font-size: 14px;
    font-weight: bold;
    background-color: transparent;
    border: none;
}

.loadResume {
    background-color: #7A7D7D;
    color: white;
}

.clearResume:hover,
.loadResume:hover {
    cursor: pointer;
}