.buttonLoader {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 7px 29px 0 hsla(240, 5%, 41%, .2);
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 12px;
}

.icon {
    margin-right: 8px;
    border-radius: 4px;
}

.clearResume,
.loadResume {
    font-size: 14px;
}