.personalDetails {
    display: flex;
    flex-direction: column;
    width: 75%;
    background-color: #fff;
    box-shadow: 0 7px 29px 0 hsla(240, 5%, 41%, .2);
    border-radius: 12px;
    gap: 10px;
    padding: 12px 24px;
}

.title {
    font-size: 18px;
    font-weight: bolder;
    margin: 0px 0px;
}

.personalInput {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.detailItem {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    gap: 6px;
}

div input {
    background-color: #7A7D7D;
    border-radius: 6px;
    padding: 6px;
    color: white;
    border: transparent;
}