.title {
    font-size: 18px;
    font-weight: bolder;
    margin: 0px 0px;
}

.personalInput {
    display: flex;
    flex-direction: column;
}

.detailItem {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    gap: 6px;
}

div input {
    background-color: #7A7D7D;
    border-radius: 6px;
    padding: 6px;
    color: white;
    border: transparent;
}