.app {
  display: flex;
  gap: 24px;
  padding: 30px 20px;
  width: 100%;
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', 'Arial';
  background-color: #F7F4F3;
}

.leftSide,
.rightSide {
  flex: 1;
  box-sizing: border-box;
  max-width: 1500px;
}