.app {
  display: flex;
  gap: 24px;
  padding: 30px 20px;
  width: 100%;
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', 'Arial'
}

.leftSide,
.rightSide {
  flex: 1;
  box-sizing: border-box;
  max-width: 1500px;
}